---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=20657a3ab827685711fa7e910ea9b2eb&format=json&method=flickr.photos.search&nojsoncallback=1&tags=denver,co,skyline,weather&text=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":35,"perpage":100,"total":"3479","photo":[{"id":"48323439591","owner":"154451654@N04","secret":"c891dcc76e","server":"65535","farm":66,"title":"Uptown
        Denver","ispublic":1,"isfriend":0,"isfamily":0},{"id":"48204924577","owner":"75688338@N00","secret":"dcec93a378","server":"65535","farm":66,"title":"07.04.19","ispublic":1,"isfriend":0,"isfamily":0},{"id":"48196393242","owner":"75688338@N00","secret":"583bec6eb2","server":"65535","farm":66,"title":"Denver
        Fireworks 2019","ispublic":1,"isfriend":0,"isfamily":0},{"id":"48196343956","owner":"75688338@N00","secret":"e8b76801fe","server":"65535","farm":66,"title":"Denver
        Fireworks 2019","ispublic":1,"isfriend":0,"isfamily":0},{"[...]
